# 🛑 ẨN CÁC FILE NHẠY CẢM 🛑
.env
.env.* 
!*.env.example
secrets/
keys/
config/secrets.yml

# 🚀 BỎ QUA DỮ LIỆU CỦA WORDPRESS 🚀
src/sites/
/sites

# ⚡️ BỎ QUA FILE BACKUP ⚡️
src/sites/*/backups/
*.sql
*.sql.gz
*.tar.gz
*.zip

# 🔐 CHỨNG CHỈ SSL 🔐
src/webserver/nginx/ssl/*
!src/webserver/nginx/ssl/.gitkeep
!src/sites/**/nginx/ssl/.gitkeep

# 🛠️ DOCKER & COMPOSE 🛠️
**/docker-compose.override.yml
**/docker-compose.yml.bak
**/docker-compose.override.yml.bak

# 🔍 LOG & CACHE 🔍
src/logs/
src/sites/*/logs/
*.log
*.log.*
debug.log
php-errors.log
src/webserver/nginx/access.log
src/webserver/nginx/error.log

# ⚙️ MAC & LINUX SYSTEM FILES ⚙️
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
__MACOSX

# ⛔ NODE & DEPENDENCIES ⛔
node_modules/
npm-debug.log
yarn.lock

# ${SAVE} GIT TRACKING FILES ${SAVE}
#.gitignore

# 📦 MISC
*.crt
*.key
*.pem
.wp-login-auth-*
tmp/
latest_version.txt
.cursorignore
tests.yml.bak

# ☁️ RCLONE CONFIG
src/shared/config/rclone/rclone.conf

# 🌐 NGINX GLOBAL CONFIG - không commit theo site
src/webserver/nginx/globals/wp-login*
src/webserver/nginx/conf.d/*.conf

# 🧩 WP CLI binary (tự động tải lại)
src/shared/bin/wp
src/shared/bin/wp-cli.phar

# 🚀 BUILD DIRECTORY
dist/*
wp-docker-lemp/



# Testing
sync_to_vps.sh
