services:
  redis:
    image: redis:alpine
    container_name: wpdocker-redis 
    restart: unless-stopped
    networks:
      - proxy_network 
    command: redis-server --appendonly yes
networks:
  proxy_network:
    external: true